services:
  ecom-mongo:
    image: mongo:8.0
    container_name: ecom-mongo
    restart: unless-stopped
    command: ["--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - ecom-mongo-data:/data/db
    ports:
      - "27017:27017"
    networks:
      - ecom-network
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M

  # This container's only job is to run once and initiate the replica set.
  mongosetup:
    image: mongo:8.0
    container_name: ecom-mongo-setup
    restart: "no"
    depends_on:
      - ecom-mongo
    command: >
      bash -c "
        sleep 5;
        mongosh --host ecom-mongo:27017 --eval \"
        try {
          rs.status();
          print('Replica set already initiated.');
        } catch (e) {
          rs.initiate({
            _id: 'rs0',
            members: [
              { _id: 0, host: 'ecom-mongo:27017', priority: 1 }
            ]
          });
          print('Replica set initiated.');
        }\"
      "
    networks:
      - ecom-network
  
  ecom-rabbitmq:
    image: rabbitmq:4.1-management
    container_name: ecom-rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"    # AMQP protocol - our project will connect using this port
      - "15672:15672"  # Management UI - access via web browser
    volumes:
      - ecom-rabbitmq-data:/var/lib/rabbitmq
    networks:
      - ecom-network
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
      

networks:
  ecom-network:
    driver: bridge

volumes:
  ecom-mongo-data:
  ecom-rabbitmq-data: